@charset "utf-8";
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    background: black url("/home/ivan/IdeaProjects/Ivan/src/main/java/homeworkeleven/image/index-backgound.jpg") no-repeat center top;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif, Arial;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

p,
ul,
h2,
figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

label {
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}
/* МЕНЮ */

.main-header {
    padding: 0 10px;
    margin-bottom: 60px;
    color: white;
    background-color: black;
}

.main-navigation {
    float: left;
    width: 780px;
    font-size: 0;
}

.main-navigation-item {
    display: inline-block;
    vertical-align: top;
}

.main-navigation-item a {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    color: white;
}

.main-navigation-item a:hover {
    background: #242424;
}

.main-navigation-item.current-page a {
    position: relative;
}

.main-navigation-item.current-page a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: white;
}

.header-login {
    position: relative;
    float: right;
    max-width: 150px;
    font-size: 0;
}

.header-login a {
    display: inline-block;
    padding: 25px 20px 25px 50px;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    color: white;
}

.header-login a:hover {
    background: #242424;
}

.header-login a::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("C:\Users\Ivan\IdeaProjects\johnny\src\main\java\homeworkeleven\image\sprites.png") no-repeat 0 -212px;
}

.header-login a:hover::before {
    opacity: .3;
}
/* ЛОГО и ПРЕИМУЩЕСТВА*/

.content-logo {
    width: 368px;
    height: 152px;
    margin: 0 auto 80px;
}

.content-logo img {
    width: 368px;
    height: 152px;
}

.content-advantages {
    margin-bottom: 65px;
}

.content-advantages-block {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.content-advantages-block p {
    margin: 10px;
}

.content-advantages-block:nth-child(3n) {
    margin-right: 0;
}

.content-advantages-title {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 42px;
}

.content-advantages-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white;
}
/* ГЛАВНАЯ. ОСНОВНОЕ СОДЕРЖИМОЕ */

.content-index-row {
    margin-bottom: 35px;
    padding: 50px 80px;
    background: url("column-delimiter.png") no-repeat center, white url("content-background.jpg");
    color: black;
}

.content-left-column {
    float: left;
    width: 350px;
}

.content-right-column {
    float: right;
    width: 300px;
}

.content-column-title {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 42px;
}

.content-news-preview li {
    margin-bottom: 30px;
}

.content-news-preview time {
    text-transform: none;
    font-weight: 400;
}

.btn {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    padding: 10px 33px;
    font-size: 14px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background: #663d15;
}

.btn:disabled {
    cursor: default;
    opacity: .5;
}

.btn:disabled:hover {
    background: black;
}

.content-gallery-block {
    position: relative;
    height: 270px;
}

.content-gallery-img {
    width: 286px;
    height: 164px;
    border: 7px solid white;
    background: #ccc;
}

.content-gallery-img img {
    width: 286px;
    height: 164px;
}

.content-gallery-prev,
.content-gallery-next {
    position: absolute;
    bottom: 0;
    width: 140px;
}

.content-gallery-prev {
    left: 0;
}

.content-gallery-next {
    right: 0;
}

.content-contacts-block,
.content-appointment-form p {
    margin-bottom: 30px;
}

.content-appointment-form input {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 106px;
    padding: 10px 15px;
    border: 2px solid black;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    background: #f9f6f3;
    outline: none;
    background: white url("content-background.jpg");
    color: black;
}

.content-appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.content-appointment-form input:focus {
    border: 2px solid #663d15;
}

.content-appointment-form .btn {
    width: 100%;
}
/* ФУТЕР */

footer {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #252525 url("footer-background.jpg");
    color: white;
}

.inner-footer {
    box-shadow: inset 0 60px 20px -30px rgba(0, 0, 0, 0.5);
}

.footer-contacts {
    float: left;
    margin-right: 80px;
}

.footer-contacts a {
    width: 320px;
    color: white;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    max-width: 240px;
    text-align: center;
}

.footer-social p {
    margin-bottom: 15px;
}

.footer-copyright {
    float: right;
    max-width: 320px;
}

.footer-copyright p {
    margin-bottom: 15px;
    text-align: center;
}

.footer-social .btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    padding: 0;
    font-size: 0;
    text-decoration: none;
    vertical-align: top;
    background: black url("sprites.png") no-repeat center;
}

.footer-social .footer-social-vk {
    background-position: 9px -826px;
}

.footer-social .footer-social-fb {
    background-position: 14px -549px;
}

.footer-social .footer-social-inst {
    background-position: 12px -690px;
}

.footer-social-vk:hover {
    background: white 9px -760px;
}

.footer-social-fb:hover {
    background: white 14px -476px;
}

.footer-social-inst:hover {
    background: white 12px -619px;
}

.footer-copyright .btn:hover {
    background-color: white;
    color: black;
}
/* СКРЫТЫЕ БЛОК. КАРТА */

.map {
    position: absolute;
    top: 100px;
    left: 20%;
    display: none;
    width: 766px;
    height: 560px;
    border: 7px solid white;
    background: #e9e5dc url("map.png");
    box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.map::before {
    position: absolute;
    top: -7px;
    right: -45px;
    width: 22px;
    height: 22px;
    background: url("sprites.png") 0 -140px no-repeat;
    content: "";
    cursor: pointer;
}
/* СКРЫТЫЕ БЛОК. ФОРМА ВХОДА */

.login {
    position: absolute;
    top: 150px;
    left: 50%;
    display: none;
    width: 300px;
    margin: 0 auto;
    padding: 50px 80px;
    background: white url("content-background.jpg");
    box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
    color: black;
}

.login::before {
    position: absolute;
    top: 0;
    right: -40px;
    width: 22px;
    height: 22px;
    background: url("sprites.png") 0 -140px no-repeat;
    content: "";
    cursor: pointer;
}

.login .login-header {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 35px;
}

.login p {
    margin-bottom: 30px;
}

.login > input {
    display: block;
    width: 281px;
    padding: 8px 0 8px 15px;
    border: 2px solid black;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
    background: white url("content-background.jpg");
}

.login > input[name="name"] {
    margin-bottom: 10px;
    background: no-repeat url("sprites.png") 100% -893px;
}

.login > input[name="password"] {
    margin-bottom: 15px;
    background: no-repeat url("sprites.png") 100% -267px;
}

.login > input[name="name"]:hover,
.login > input[name="password"]:hover {
    border-color: #663d15;
}

.login-options {
    margin-bottom: 15px;
}

.login-options > input,
.login-options > label {
    float: left;
}

.login-options a {
    float: right;
    color: black;
}

.login-options a:hover {
    text-decoration: none;
}

label {
    position: relative;
    margin-left: 30px;
}

label:hover {
    color: #663d15;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    position: absolute;
    top: 2px;
    left: -30px;
    width: 20px;
    height: 20px;
    background: url("sprites.png") 0 -70px no-repeat;
    content: "";
}

input[type="radio"] + label::before {
    position: absolute;
    top: 2px;
    left: -30px;
    width: 20px;
    height: 22px;
    background: url("sprites.png") 0 -415px no-repeat;
    content: "";
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"]:checked + label::before {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("sprites.png") 0 0 no-repeat, url("sprites.png") 0 -70px no-repeat;
    content: "";
}

input[type="radio"]:checked + label::before {
    position: absolute;
    width: 20px;
    height: 22px;
    background: url("sprites.png") 0 -345px no-repeat;
    content: "";
}

input[type="checkbox"]:checked:disabled + label,
input[type="radio"]:checked:disabled + label {
    opacity: .3;
    color: black;
}

.login .btn-submit {
    width: 100%;
    margin-right: 0;
}
/* Текстовая страница */

.inner-page {
    background: white url("content-background.jpg");
}

.content-block {
    color: black;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin-bottom: 45px;
    font-size: 0;
}

.breadcrumbs a,
.breadcrumbs span {
    position: relative;
    display: inline;
    padding-right: 40px;
    vertical-align: top;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: black;
}

.breadcrumbs a::after {
    position: absolute;
    top: 6px;
    right: 15px;
    width: 8px;
    height: 8px;
    background: black;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.breadcrumbs span {
    color: #aba9a7;
}

.container-title {
    text-align: center;
    margin-bottom: 65px;
}

.container-title-text {
    position: relative;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    background: red;
    z-index: 2;
    background: white url("content-background.jpg");
}

.container-title::after {
    position: relative;
    top: -25px;
    display: block;
    border: 1px solid black;
    z-index: 1;
    content: "";
}

.content-row {
    margin-bottom: 45px;
}

.content-about-title+.content-row {
    margin-bottom: 80px;
}

.content-remedy,
.content-entry {
    width: 400px;
}

.content-pricing-table,
.content-conclusion {
    width: 480px;
}

.content-remedy-title,
.content-pricing-title,
.content-about-title {
    width: 250px;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 30px;
}

.remedy-list li {
    position: relative;
    padding-bottom: 15px;
    padding-left: 20px;
}

.remedy-list li:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background: black;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content-pricing-table table {
    width: 100%;
}

.content-pricing-table td {
    border: 2px solid black;
    padding: 10px 15px;
}
/* СТРАНИЦА ТОВАРА */

.content-photos {
    width: 460px;
}

.content-article {
    width: 390px;
    padding-top: 20px;
}

.content-article > p {
    margin-bottom: 40px;
}

.content-article .content-pricing-addition {
    margin-bottom: 60px;
}

.content-pricing {
    font-size: 0;
}

.content-pricing p,
.content-pricing a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
}

.content-pricing p {
    padding: 10px 20px 10px 30px;
    background: #e5e5e5;
}

.content-article-goods {
    margin-bottom: 35px;
}

.content-article-goods p {
    float: left;
}

.content-article-goods p.current {
    float: right;
    color: #aba9a7;
}

.content-list-title {
    margin-bottom: 30px;
}

.content-article-list li {
    position: relative;
    margin-left: 20px;
}

.content-article-list li::before {
    position: absolute;
    top: 8px;
    left: -17px;
    width: 8px;
    height: 8px;
    background: black;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}

.content-photos-image {
    margin-bottom: 20px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.content-photos-block > a {
    display: block;
    float: left;
    width: 140px;
    margin-right: 20px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.content-photos-block > a:nth-child(3n) {
    margin-right: 0;
}
/* ГАЛЕРЕЯ ТОВАРОВ */

.content-brands {
    width: 200px;
}

.content-brands-title {
    margin-bottom: 30px;
}

.content-brands label {
    margin-bottom: 15px;
}

label + .content-brands-title {
    margin-top: 45px;
}

.content-brands label + button {
    margin-top: 45px;
}

.content-catalog {
    width: 700px;
}

.content-catalog-item {
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.content-catalog-item:nth-child(3n) {
    margin-right: 0;
}

.content-catalog-item .content-catalog-name {
    display: block;
    text-decoration: none;
    color: black;
}

.content-catalog-name,
.content-catalog-name+div {
    margin-left: 15px;
}

.content-catalog-item .content-catalog-name:hover {
    color: #663d15;
}

.content-pricing .btn {
    padding-left: 20px;
    padding-right: 15px;
}

.content-pricing {
    margin-bottom: 15px;
}

.content-catalog-main {
    margin-bottom: 25px;
}

.paginator {
    font-size: 0;
}

.paginator a,
.paginator span {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px;
    margin-right: 7px;
    background: black;
    color: white;
    text-decoration: none;
}

.paginator .current {
    background: white;
    color: black;
}

.paginator a:hover {
    background: #663d15;
}